.home {
    background: #D3EAF8;
    background-image: url(../../assets/Patern.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    width: 100%;
    height: 100vh;
    .form-container {
        width: 45%;
        display: block;
        margin: auto;
        .button {
            height: 48px;
            width: 100%;
            border-radius: 5px;
            font-size: 14px;
            line-height: 18px;
        }
        .logo {
            text-align: center;
        }
        .form-wrapper {
            width: 100%;
            padding: 50px 100px;
            background: #FFFFFF;
            border-radius: 10px;
            margin-top: 50px;
            .form-title {
                font-style: normal;
                font-weight: 500;
                font-size: 26px;
                line-height: 34px;
                color: #333333;
                text-align: center;
            }
            .input {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                label {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: #333333;
                }
                input {
                    height: 48px;
                    background: #FCFCFC;
                    border: 1px solid #BDBDBD;
                    border-radius: 10px;
                    margin-top: 5px;
                }
                p {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: #995620;
                    text-align: right;
                    margin-top: 5px;
                }
            }
            .login-button {
                background: #2D9CDB;
                border: 2px solid #2D9CDB;
                font-style: normal;
                font-weight: bold;
                color: #FFFFFF;
                margin-top: 35px;
            }
            .social-buttons {
                margin-top: 45px;
                .google-button {
                    display: flex;
                    align-items: center;
                    color: #FF1B1B;
                    border: 2px solid #FF1B1B;
                    font-weight: 500;
                    background-color: #FFFFFF;
                }
                .facebook-button {
                    display: flex;
                    align-items: center;
                    color: #475993;
                    border: 2px solid #475993;
                    background-color: #FFFFFF;
                    font-weight: 500;
                    margin-top: 15px;
                }
            }
            .option {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #333333;
                text-align: center;
                margin-top: 30px;
                span {
                    color: #995620;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .home {
        background-image: none;
        height: auto;
    }
}