.home {
    background: #D3EAF8;
    background-image: url(../../assets/Patern.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    width: 100vw;
    height: 100vh;
    .form-container {
        width: 45%;
        display: block;
        margin: auto;
        .logo {
            text-align: center;
        }
        .form-wrapper {
            width: 100%;
            padding: 50px 100px;
            background: #FFFFFF;
            border-radius: 10px;
            margin-top: 50px;
            .form-title {
                font-style: normal;
                font-weight: 500;
                font-size: 26px;
                line-height: 34px;
                color: #333333;
                text-align: center;
            }
            .input {
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                input {
                    height: 48px;
                    background: #FCFCFC;
                    border: 1px solid #BDBDBD;
                    border-radius: 10px;
                }
            }
        }
    }
}