.sign-up {
    background: #D3EAF8;
    background-image: url(../../assets/Patern.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    width: 100%;
    height: 100vh;
    
}